@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #121212;
}

button{
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.sidebar{
 position: absolute;
 overflow: hidden;
 top: 0;
 right: 0;
 width: 75px;
 height: 100%;
 background-color: antiquewhite;
 transition: all 0.4s;   
}

body.open .sidebar{
    width: 240px;
}

.sidebar-inner{
    position: absolute;
    top :0;
    right: 0;
    width: 300px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 1.25rem 0.0;

}


.sidebar-menu >button{
    display: flex;
    gap: 12px;
    align-items: center;
    height: 55px;
    font-family: "ubunta";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 22px;
    border-right: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-menu >button:hover{
        border-right: 3px solid #f9f9f9;
}

.sidebar-menu > button > span{
    color: #000000;
    opacity: 0;
    transition: all 0.4s;
}

.sidebar-menu >button:hover >i, .sidebar-menu >button:hover > span{
    color: #3485ff;
}

body.open .sidebar-menu >button >span{
    opacity: 1;
    transition: 0.4s;
}

section h2{
   text-align: center;
    margin-top: 90px;
    font-size: 40px;
    right: 20px;
    color :rgb(114, 16, 65);
}

section h3{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    right: 20px;
    color :rgb(170, 181, 243)
}

section p{
    text-align: center;
    margin-top: 14px;
    font-size: 30px;
    color :bisque
}

